{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="row justify-content-md-center mt-5">
    <div class="col col-2 border border-primary">
      <img src="/media/{{profile.avatar}}" class="img-thumbnail rounded-circle"/>
    </div>
    <div class="col col-9 ml-3 border border-primary">
      <div class="row border border-primary">
        <div class="col border border-primary">
          <h5>{{profile.full_name}}</h5>
        </div>
        <div class="col col-4 border border-primary">
          <button type="button" class="btn btn-outline-dark" onClick="location.href='/profile/update'">Edit profile</button>
        </div>
      </div>
      <div class="row mt-3 border border-primary">
        <div class="col border border-primary">
          <p><strong>0</strong> publications</p>
        </div>
        <div class="col border border-primary">
          <h6><strong>20</strong> followers</h6>
        </div>
        <div class="col border border-primary">
          <p><strong>20</strong> subscriptions</p>
        </div>
      </div>
      {% if not profile.bio %}
      <div class="row border border-primary">
        <div class="col col-8 #">
          <h6>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            Donec quam felis, ultricies nec, pellentesque eu, pretium.</h6>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  <br>
  <hr class="style1">
  <br>
  <div class="row">
    {% for post in posts %}
    <div class="col col-4 pb-5 text-center border border-primary">
      {% for img in post.media.all %}
        <img src="/media/{{img.image}}" style="width:300px;height:300px;object-fit:cover;">
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>


{% endblock %}
