{% extends "base.html" %}
{% block content %}

<div class="container-lg mt-4">
  <div class="row justify-content-center mt-5">
    <div class="col-2">
      <img src="/media/{{profile.avatar}}" class="img-thumbnail rounded-circle" style="width:150px;height:150px;object-fit:cover;">
    </div>
    <div class="col col-lg-9 col-xl-9">
      <div class="row">
        <div class="col">
          <h5>{{profile.user.username}}</h5>
        </div>
        <div class="col-4">
          {% load define_follower %}
            {% is_followed_by_current_profile current_profile profile following_profiles as is_followed %}
            {% if is_followed %}
              <button id="unfollow-button-{{profile.user.username}}" type="button" class="btn btn-outline-dark" onClick="unfollow('{{profile.user.username}}', '{{csrf_token}}')">Unfollow</button>
            {% else %}
              <button id="follow-button-{{profile.user.username}}" type="button" class="btn btn-dark" onClick="follow('{{profile.user.username}}', '{{csrf_token}}')">Follow</button>
            {% endif %}
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <p><strong>{{ posts|length }}</strong> publications</p>
        </div>
        <div class="col">
          <a href="#" class="text-decoration-none text-dark" data-bs-toggle="modal" data-bs-target="#followersModal">
            <p><strong id="followers_count">{{followers|length}}</strong> followers</p>
          </a>
        </div>
        <div class="col">
          <a href="#" class="text-decoration-none text-dark" data-bs-toggle="modal" data-bs-target="#followingModal">
            <p><strong>{{following_profiles|length}}</strong> following</p>
          </a>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col col-lg-8 col-xl-8">
          <h6>{{profile.full_name}}</h6>
          <p>{{profile.bio}}</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <hr class="style1">
  <br>
  <div class="row">
    {% for post in posts %}
    <div class="col col-4 pb-5 text-center" style="position: relative;display: block;">
        <a href="#" data-bs-toggle="modal" data-bs-target="#postModal{{post.id}}">
          <img src="/media/{{post.media.all.0.original}}" style="width:300px;height:300px;object-fit:cover;"/>
          {% if post.media.all|length > 1%}
          <img src="/static/duplicate.png" width="25px" height="25px" style="left:76%;top:2%;position:absolute;"/>
          {% endif %}
        </a>
    </div>
    {% endfor %}
  </div>
</div>

{% for post in posts %}
<div class="modal fade" id="postModal{{post.id}}" tabindex="-1" aria-labelledby="postModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="container">
          <div class="row">
            <div class="col-8 text-center bg-black">
              {% if post.media.all|length > 1 %}
              <div id="postIndicators-{{post.id}}" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  {% for image in post.media.all%}
                    {% if image.position == 0 %}
                    <button type="button" data-bs-target="#postIndicators-{{post.id}}" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 0"></button>
                    {% else %}
                    <button type="button" data-bs-target="#postIndicators-{{post.id}}" data-bs-slide-to="{{image.position}}" aria-label="Slide {{image.position}}"></button>
                    {% endif %}
                  {% endfor %}
                </div>
                <div class="carousel-inner">
                  {% for image in post.media.all%}
                    {% if image.position == 0 %}
                    <div class="carousel-item active">
                      <img src="/media/{{image.original}}" style="width:600px;height:600px;object-fit:cover;"/>
                    </div>
                    {% else %}
                    <div class="carousel-item">
                      <img src="/media/{{image.original}}" style="width:600px;height:600px;object-fit:cover;"/>
                    </div>
                    {% endif %}
                  {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#postIndicators-{{post.id}}" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#postIndicators-{{post.id}}" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              {% else %}
              <img src="/media/{{post.media.all.0.original}}" style="width:600px;height:600px;object-fit:cover;"/>
              {% endif %}
            </div>
            <div class="col border">
              <div class="row mt-3 pb-3 border-bottom">
                <div class="col-2">
                  <img src="/media/{{profile.avatar}}" class="img-thumbnail rounded-circle" style="width:40px;height:40px;object-fit:cover;">
                </div>
                <div class="col">
                  <h5>{{profile.user.username}}</h5>
                </div>
              </div>
              <div class="row mt-3">
                {% load tagify_caption %}
                {% get_caption_with_tags post.caption as caption %}
                <p><strong>{{profile.user.username}}</strong> {{caption}}</p>
              </div>
              <div class="row border-top pt-2">
                <div class="col-1">
                  {% load define_like %}
                  {% get_like current_profile likes as like %}
                    {% if like %}
                      <img id="like-{{post.id}}" src="/static/like.png" onclick="dislike({{post.id}}, '{{csrf_token}}')" width="32" height="32"/>
                    {% else %}
                      <img id="no-like-{{post.id}}" src="/static/no-like.png" onclick="like({{post.id}}, '{{csrf_token}}')" width="32" height="32"/>
                    {% endif %}
                </div>
                <div class="col-3 text-center">
                  <h6 id="like-counter-{{post.id}}">{{ post.likes.all|length }}</h6>
                </div>
                <div class="col-6"></div>
              </div>
              <div class="row">
                <p>Posted {{post.created_at}}<p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<div class="modal fade" id="followersModal" tabindex="-1" aria-labelledby="followersModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="container mt-3">
          <div class="row text-center">
            <h6>Followers</h6>
            <hr class="style1">
          </div>
          {% for follower in followers %}
            <div class="row align-items-center pb-2">
              <div class="col-3 text-center">
                <a class="text-decoration-none text-dark" href="/profile/{{follower.who_follows.user.username}}">
                  <img src="/media/{{follower.who_follows.avatar}}" class="img-thumbnail rounded-circle" style="width:40px;height:40px;object-fit:cover;">
                </a>
              </div>
              <div class="col-6">
                <a class="text-decoration-none text-dark" href="/profile/{{follower.who_follows.user.username}}">
                  <h6>{{follower.who_follows.user.username}}</h6>
                </a>
              </div>
              <div class="col-3">
                {% load define_follower %}
                  {% is_followed_by_current_profile current_profile follower.who_follows following_profiles as is_followed %}
                  {% if is_followed %}
                    <button id="unfollow-modal-button-{{follower.who_follows.user.username}}" type="button" class="btn btn-outline-dark" onClick="unfollowModal('{{follower.who_follows.user.username}}', '{{csrf_token}}')">Unfollow</button>
                  {% else %}
                    <button id="follow-modal-button-{{follower.who_follows.user.username}}" type="button" class="btn btn-outline-dark" onClick="followModal('{{follower.who_follows.user.username}}', '{{csrf_token}}')">Follow</button>
                  {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="followingModal" tabindex="-1" aria-labelledby="followingModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="container mt-3">
          <div class="row text-center">
            <h6>Following</h6>
            <hr class="style1">
          </div>
          {% for following in following_profiles %}
            <div class="row align-items-center pb-2">
              <div class="col-3 text-center">
                <a class="text-decoration-none text-dark" href="/profile/{{following.who_is_followed.user.username}}">
                  <img src="/media/{{following.who_is_followed.avatar}}" class="img-thumbnail rounded-circle" style="width:40px;height:40px;object-fit:cover;">
                </a>
              </div>
              <div class="col-6">
                <a class="text-decoration-none text-dark" href="/profile/{{following.who_is_followed.user.username}}">
                  <h6>{{following.who_is_followed.user.username}}</h6>
                </a>
              </div>
              <div class="col-3">
                {% load define_follower %}
                  {% is_followed_by_current_profile current_profile following.who_is_followed following_profiles as is_followed %}
                  {% if is_followed %}
                    <button id="unfollow-modal-button-{{following.who_is_followed.user.username}}" type="button" class="btn btn-outline-dark" onClick="unfollowModal('{{following.who_is_followed.user.username}}', '{{csrf_token}}')">Unfollow</button>
                  {% else %}
                    <button id="follow-modal-button-{{following.who_is_followed.user.username}}" type="button" class="btn btn-outline-dark" onClick="followModal('{{following.who_is_followed.user.username}}', '{{csrf_token}}')">Follow</button>
                  {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
