{% extends "base.html" %}
{% block content %}

<div class="container-lg mt-4">
  <div class="row justify-content-md-center mt-5">
    <div class="col col-2">
      <img src="/media/{{profile.avatar}}" class="img-thumbnail rounded-circle" style="width:150px;height:150px;object-fit:cover;">
    </div>
    <div class="col col-9 ml-3">
      <div class="row">
        <div class="col">
          <h5>{{user.username}}</h5>
        </div>
        <div class="col col-4">
          <button type="button" class="btn btn-outline-dark" onClick="location.href='/profile/update'">Edit profile</button>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <p><strong>{{ posts|length }}</strong> publications</p>
        </div>
        <div class="col">
          <p><strong>20</strong> followers</p>
        </div>
        <div class="col">
          <p><strong>20</strong> subscriptions</p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col col-8">
          <h6>{{profile.full_name}}</h6>
          <p>{{profile.bio}}</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <hr class="style1">
  <br>
  <div class="row">
    {% for post in posts %}
    <div class="col col-4 pb-5 text-center" style="position: relative;display: block;">
        <a href="#" data-bs-toggle="modal" data-bs-target="#postModal{{post.id}}">
          <img src="/media/{{post.media.all.0.original}}" style="width:300px;height:300px;object-fit:cover;"/>
          {% if post.media.all|length > 1%}
          <img src="/static/duplicate.png" width="25px" height="25px" style="left:76%;top:2%;position:absolute;"/>
          {% endif %}
        </a>
    </div>
    {% endfor %}
  </div>
</div>

{% for post in posts %}
<div class="modal fade" id="postModal{{post.id}}" tabindex="-1" aria-labelledby="postModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="container">
          <div class="row">
            <div class="col-8 text-center bg-black">
              <div id="postIndicators-{{post.id}}" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  {% for image in post.media.all%}
                    {% if image.position == 0 %}
                    <button type="button" data-bs-target="#postIndicators-{{post.id}}" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 0"></button>
                    {% else %}
                    <button type="button" data-bs-target="#postIndicators-{{post.id}}" data-bs-slide-to="{{image.position}}" aria-label="Slide {{image.position}}"></button>
                    {% endif %}
                  {% endfor %}
                </div>
                <div class="carousel-inner">
                  {% for image in post.media.all%}
                    {% if image.position == 0 %}
                    <div class="carousel-item active">
                      <img src="/media/{{image.original}}" style="width:600px;height:600px;object-fit:cover;"/>
                    </div>
                    {% else %}
                    <div class="carousel-item">
                      <img src="/media/{{image.original}}" style="width:600px;height:600px;object-fit:cover;"/>
                    </div>
                    {% endif %}
                  {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#postIndicators-{{post.id}}" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#postIndicators-{{post.id}}" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
            <div class="col border">
              <div class="row mt-3 pb-3 border-bottom">
                <div class="col-2">
                  <img src="/media/{{profile.avatar}}" class="img-thumbnail rounded-circle" style="width:40px;height:40px;object-fit:cover;">
                </div>
                <div class="col">
                  <h5>{{user.username}}</h5>
                </div>
              </div>
              <div class="row mt-3">
                <p><strong>{{user.username}}</strong> {{post.caption}}</p>
              </div>
              <div class="row border-top">
                <div class="col-1">
                  <img onclick="updateLike()" src="/static/no-like.png" width="32" height="32"/>
                </div>
                <div class="col-3 text-center">
                  <p><strong>{{ post.likes.all|length }}</strong> likes</p>
                </div>
                <div class="col-6"></div>
                <div class="col">
                  <div class="dropdown">
                    <a href="#" class="d-flex align-items-center" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                      <img src="/static/dots.png" width="32" height="32">
                    </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                      <li><a class="dropdown-item" href="/profile/">Edit</a></li>
                      <li><a class="dropdown-item text-danger" href="/post/{{post.id}}/delete">Delete</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="row">
                <p>Posted {{post.created_at}}<p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}
