option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "mysite.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    EMAIL_HOST: "smtp.gmail.com"
    EMAIL_PORT: "587"
    EMAIL_USE_TLS: "True"
    EMAIL_HOST_USER: "djangogramm1@gmail.com"
    EMAIL_HOST_PASSWORD: "xaznhebiitfgispq"
    NAME: "djangogramm"
    USER: "elina"
    PASSWORD: "elina"
    SECRET_KEY: "django-insecure-df2260uccas^7*e5%()#tdde=1*h(%*q9a$vns*cq3i&s1urog"

  aws:elasticbeanstalk:container:python:
    WSGIPath: "mysite.wsgi:application"