<!doctype html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>

    <body>
        {% block title %} Log in {% endblock %}
        {% block content %}
            <form method="post" class="form-group">
                {% csrf_token %}
                 {{ form.as_p }}
                <button type="submit" class="btn btn-success">Submit</button>
                <p>Do not have an account? <a href="../signin/">Sign in</a></p>
            </form>
        {% endblock %}
    </body>
</html>